<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <% @bookings.each do |hotel| %>

      <h4><%= hotel.name %></h4>

        <% hotel.bookings.each do |booking| %>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <%= render partial: "booking", locals: { booking: booking} %>
          </div>
          <br>
        <% end %>

    <% end %>

  </div>
</div>


