<div class="row">
  <div class="col-md-8 col-md-offset-2 admin-bookings">

    <% @bookings.each do |hotel| %>

      <h4><%= hotel.name %></h4>

        <% hotel.bookings.each do |booking| %>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <%= render partial: "booking", locals: { booking: booking} %>
          </div>
          <br>
        <% end %>

    <% end %>

  </div>
</div>

<script type="text/javascript">
  var pusher = new Pusher('df59a78ee3c9404f0f77');
  var channel = pusher.subscribe('admin-<%= current_user.id %>');
  channel.bind('new_booking', function(data) {
    $(".row").load("/admin/bookings .admin-bookings");
  });
</script>
