<h1>Hi, <%= @booking.user.name %></h1>
<p>
  Your booking for <%= @booking.room.name %> has been accepted<br>
</p>
<p>You can now check-in at <%= @booking.hotel.name %> on <%= @booking.arrival.to_formatted_s(:short) %> </p>

<p>Thanks for booking with us and have a nice stay!</p>
