<div class="col-md-8 col-md-offset-2">

  <%= @booking.arrival.to_formatted_s(:short) %>

  <div>
    <%= link_to "Cancel Booking", cancel_booking_path(@booking), class: "btn btn-danger btn-lg", method: :post %>
  </div>
</div>



