<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <div class="row">
          <div class="col-md-12"><h3><%= @hotel.name %></h3></div>
        </div>
      </div>
      <div class="panel-heading">
        <%= @hotel.description %>
      </div>
      <div class="panel-body">
        <%= @hotel.address %>
      </div>
      <div class="panel-footer text-center">
        <%= link_to 'Back', admin_hotels_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>


