<%= render "header_home" %>
<div class="container">

  <div class="row">
    <div class="col-md-10 col-md-offset-1 section-intro">
      <div class="well well-lg text-center">
        <h2>Never be sleepy again for your next meeting.</h2>
        <p>Find hotels near you or your next meeting and charge your batteries again!</p>
      </div>
    </div>
  </div>

  <div class="row featured">
    <div class="col-md-10 col-md-offset-1 text-center">
      <div class="col-md-4 well well-lg" style="background-image: url(http://www.colombia.travel/es/images/stories/turistainternacional/Adondeir/Destinosfindesemana/medellincosmopolita/vista-medellin.jpg);">
        <h3>Medellín</h3>
      </div>

      <div class="col-md-4 well well-lg" style="background-image: url(http://www.colombia.travel/en/images/stories/galeria/bogota/bogota10.jpg);">
        <h3>Bogotá</h3>
      </div>

      <div class="col-md-4 well well-lg" style="background-image: url(http://crazysalsa.net/crazysalsa/wp-content/uploads/2014/04/Cartagena.jpg);">
        <h3>Cartagena</h3>
      </div>
      <div class="text-center"><button class="btn btn-default btn-lg">See all hotels</button></div>
    </div>
  </div>

  <!-- How it Works Section -->
  <div class="row">
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center section-how-works">
                    <h2 class="section-heading">How it works?</h2>
                    <h3 class="section-subheading text-muted">4 easy steps will get you fully rested</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <br>
                                <br>
                                <i class="fa fa-search fa-4x"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>1. Search</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Look around you or select a city or place where you likely will be</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <br>
                                <br><br>
                                <i class="fa fa-check fa-4x"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>2. Select</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">See all the possible place where you could rest and pick one for further information</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <br>
                                <br><br>
                                <i class="fa fa-book fa-4x"></i>
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>3. Book</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Follow our process to book your nap at the place you chose</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <br>
                                <br>
                                <i class="fa fa-building-o fa-4x"></i>
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>4. Check in</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Go to your hotel and check in, get ready to rest and recover your energy!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <br><br>
                                <h3>Rest</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
  </div>
</div>

<div class="container container-full">
    <div class="row waiting-wrapper">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h3>What are you waiting for to get your nap?</h3>
        </div>
    </div>
</div>

