<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Get<strong>Napp</strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="index.html">Registrate</a>
                </li>
                <li>
                    <a href="about.html">Iniciar sesión</a>
                </li>
                <li>
                    <a href="post.html">Ayuda</a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown" role="button" aria-expanded="false">Registra tu hotel <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<header class="intro-header" style="background-image: url('https://ununsplash.imgix.net/photo-1417870839255-a23faa90c6b0?q=75&fm=jpg&s=96d46061e7ecc8eb2ef0e9016d1eeb99')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Get Napp</h1>
                    <hr class="small">
                    <span class="subheading">Because sometimes you just need a nap</span>
                </div>
            </div>
        </div>
      <div class="col-md-8 col-md-offset-2 text-center">
        <form class="navbar-form" role="search">
            <div class="form-group text-center">
              <input type="text" class="form-control" placeholder="Search">
              <input type="time" class="form-control" placeholder="Arrival Time">
              <input type="time" class="form-control" placeholder="Arrival Time">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
              </select>
            </div>
          <button type="submit" class="btn btn-danger">Search</button>
        </form>
      </div>
    </div>
</header>

<div class="container">

  <div class="row">
    <div class="col-md-10 col-md-offset-1 section-intro">
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores blanditiis labore quas aspernatur aliquam et vel ut reiciendis quasi amet ducimus nam vero minus, eos deserunt atque, iste voluptatem id.</h3>
    </div>
  </div>

  <div class="row featured">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores blanditiis labore quas aspernatur aliquam et vel ut reiciendis quasi amet ducimus nam vero minus, eos deserunt atque, iste voluptatem id.</h3>
      </div>

      <div class="col-md-4">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores blanditiis labore quas aspernatur aliquam et vel ut reiciendis quasi amet ducimus nam vero minus, eos deserunt atque, iste voluptatem id.</h3>
      </div>

      <div class="col-md-4">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores blanditiis labore quas aspernatur aliquam et vel ut reiciendis quasi amet ducimus nam vero minus, eos deserunt atque, iste voluptatem id.</h3>
      </div>
      <div class="text-center"><button class="btn btn-primary">See all hotels</button></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 section-intro">
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores blanditiis labore quas aspernatur aliquam et vel ut reiciendis quasi amet ducimus nam vero minus, eos deserunt atque, iste voluptatem id.</h3>
    </div>
  </div>

</div>