<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Get<strong>Napp</strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="index.html">Registrate</a>
                </li>
                <li>
                    <a href="about.html">Iniciar sesión</a>
                </li>
                <li>
                    <a href="post.html">Ayuda</a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown" role="button" aria-expanded="false">Registra tu hotel <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<header class="intro-header" style="background-image: url('http://www.hotel-icon.com/~/media/Images/Hotel_ICON_revamp/rooms/Above%20and%20Beyond/club-38-harbour_1.ashx')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Get Napp</h1>
                    <hr class="small">
                    <span class="subheading">Because sometimes you just need a nap</span>
                </div>
            </div>
        </div>
      <div class="col-md-8 col-md-offset-2 text-center">
        <form class="navbar-form" role="search">
            <div class="form-group text-center">
              <input type="text" class="form-control" placeholder="Search">
              <input type="time" class="form-control" placeholder="Arrival Time">
              <input type="time" class="form-control" placeholder="Arrival Time">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
              </select>
            </div>
          <button type="submit" class="btn btn-danger">Search</button>
        </form>
      </div>
    </div>
</header>

<div class="container">

  <div class="row">
    <div class="col-md-10 col-md-offset-1 section-intro">
      <div class="well well-lg text-center">
        <h2>Never be sleepy again for your next meeting.</h2>
        <p>Find hotels near you or your next meeting and charge your batteries again!</p>
      </div>
    </div>
  </div>

  <div class="row featured">
    <div class="col-md-10 col-md-offset-1 text-center">
      <div class="col-md-4 well well-lg" style="background-image: url(http://www.colombia.travel/es/images/stories/turistainternacional/Adondeir/Destinosfindesemana/medellincosmopolita/vista-medellin.jpg);">
        <h3>Medellín</h3>
      </div>

      <div class="col-md-4 well well-lg" style="background-image: url(http://www.colombia.travel/en/images/stories/galeria/bogota/bogota10.jpg);">
        <h3>Bogotá</h3>
      </div>

      <div class="col-md-4 well well-lg" style="background-image: url(http://crazysalsa.net/crazysalsa/wp-content/uploads/2014/04/Cartagena.jpg);">
        <h3>Cartagena</h3>
      </div>
      <div class="text-center"><button class="btn btn-default btn-lg">See all hotels</button></div>
    </div>
  </div>

  <!-- How it Works Section -->
  <div class="row">
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center section-how-works">
                    <h2 class="section-heading">How it works?</h2>
                    <h3 class="section-subheading text-muted">4 easy steps will get you fully rested</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <br>
                                <br>
                                <i class="fa fa-search fa-4x"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>1. Search</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Look around you or select a city or place where you likely will be</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <br>
                                <br><br>
                                <i class="fa fa-check fa-4x"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>2. Select</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">See all the possible place where you could rest and pick one for further information</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <br>
                                <br><br>
                                <i class="fa fa-book fa-4x"></i>
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>3. Book</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Follow our process to book your nap at the place you chose</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <br>
                                <br>
                                <i class="fa fa-building-o fa-4x"></i>
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>4. Check in</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Go to your hotel and check in, get ready to rest and recover your energy!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <br><br>
                                <h3>Rest</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
  </div>



  <div class="row">
    <div class="col-md-10 col-md-offset-1 section-intro">
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores blanditiis labore quas aspernatur aliquam et vel ut reiciendis quasi amet ducimus nam vero minus, eos deserunt atque, iste voluptatem id.</h3>
    </div>
  </div>

</div>