<% provide(:title, "More info") %>
<% provide(:img, "http://core0.staticworld.net/images/article/2012/09/hackers_security_password-100004008-orig.jpg") %>
<%= render "header_static" %>
<div class="container">

  <div class="row">
    <div class="col-md-10 col-md-offset-1 section-intro">
      <div class="well well-lg">
        <h2 id="#security">Security policy</h2>
        <p>GetNapp will not sell, rent, or give away any of your personal information without your consent. It is our overriding privacy principle that any personal information you provide to us is just that: personal and private. We do not presume that you are granting us permission to share your personal information with third parties wanting to sell you products or services that you have not requested. In order for us to provide some of the services we do we may on occasion need to provide information you supply us to external parties. When this is necessary we will provide you explicit notice and the ability to opt-out. GetNapp may need to purge information from its system from time to time, and does not promise to keep any information beyond what is required by applicable law or regulation.

        GetNapp's website and services are not intended for, or designed to attract, individuals under the age of 18. GetNapp does not knowingly collect personally identifiable information from any person under the age of 18.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 section-intro">
      <div class="well well-lg">
        <h2 id="#apps">Mobile apps</h2>
        <img src="http://3.bp.blogspot.com/-q35vl2SFo1I/UvEWTj5ClcI/AAAAAAAACYQ/3lTT02cKPpQ/s1600/appstore-googleplay.png" alt="">
      </div>
    </div>
  </div>

</div>
