<div class="container results-main container-full">
  <div class="row">
    <div class="col-md-7 col-sm-7 results-elements ">
        <div class="row filters" >
          <div class="col-md-12">
            <br>
            <div class="row">
              <div class="col-md-3 text-right">
                <h5>Arrival Time</h5>
              </div>
              <div class=" col-md-3">
                <%= datetime_select :arrival, params[:arrival], {ampm: true, default: @search_date}, { class: "form-control" } %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3 text-right">
                <h5>Hours</h5>
              </div>
              <div class="col-md-3">
                <%= check_box_tag :hours, params[:q], class: "form-control" %>
                <%= label_tag :hours, "3 hours", class: 'category_select' %>
              </div>
              <div class="col-md-3">
                <%= check_box_tag :hours, params[:q], class: "form-control" %>
                <%= label_tag :hours, "6 hours", class: 'category_select' %>
              </div>
              <div class="col-md-3">
                <%= check_box_tag :hours, params[:q], class: "form-control" %>
                <%= label_tag :hours, "12 hours", class: 'category_select' %>
              </div>
              <hr>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3 text-right">
                <h5>Price Range</h5>
              </div>
              <div class="col-md-9">
                Slider goes here :)
              </div>
            </div>
            <br>
          </div>
        </div>


        <br>
        <br>

        <%  @available_rooms_near.try(:each) do |room_available|  %>

          <%= render partial: "room_available", locals: { room_available: room_available } %>

        <% end %>

    </div>
    <div class="col-md-5 col-sm-7 results-map hidden-xs">
      <div id="map-canvas"></div>
    </div>
  </div>
</div>

