<div class="hotel-main-img">
  <header class="intro-header" style="background-image: url('<%= @room_availability.room.image.url %>')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">

                  </div>
              </div>
          </div>
      </div>
  </header>
</div>
<div class="container container-full">
  <div class="row hotel-summary">
    <div class="container">

      <div class="col-md-2 col-md-offset-1 text-center">
        <br>
        <%= image_tag @room_availability.hotel.image.url, { class: "img-rounded", width: "100%" } %>
      </div>

      <div class="col-md-5">
        <h3><%= @room_availability.room.name %>
          <span class="stars">
            <% @room_availability.room.rating.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </span>
        </h3>
        <p class="text-muted"><%= "#{@room_availability.hotel.name} - #{@room_availability.hotel.address}" %> </p>
        <div class="row">
          <div class="col-md-4 text-center">
            <i class="icon-clock"></i>
            <p class="text-muted">3-6-12 hours</p>
          </div>
          <div class="col-md-4 text-center">
            <i class="icon-lodging"></i>
            <p class="text-muted">Bed</p>
          </div>
          <div class="col-md-4 text-center">
            <i class="icon-user-add"></i>
            <p class="text-muted">+1 guests</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 book-form text-center">
          <div class="price">
            <h4><%= number_to_currency(@room_availability.price) %></h4>
          </div>
          <h5 class="text-center">Available on:</h5>
          <h4><%= @room_availability.start.strftime("%F") %></h4>
          <h5 class="text-center">at:</h5>
          <h4><%= @room_availability.start.strftime("%I:%M %p") %></h4>
          <!-- <form action="">
            <div class="form-group">
              <label for="arrival_date">Date</label>
              <input type="date" class="form-control" id="arrival_date">
            </div>
            <div class="form-group">
              <label for="arrival_time">Time</label>
              <input type="time" class="form-control" id="arrival_time">
            </div>
          </form> -->
          <button type="button" class="btn btn-info btn-lg">Book it</button>
      </div>
    </div>
  </div>

  <div class="row hotel-details">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-md-offset-1">
          <h4>About the room</h4>
          <p> <%= @room_availability.room.description %> </p>
        </div>
      </div>

      <div class="row room-img-1">
        <div class="col-md-7 col-md-offset-1">
          <img src="https://a2.muscache.com/ic/pictures/27390468/79829cf0_original.jpg?interpolation=lanczos-none&size=x_large&output-format=progressive-jpeg&output-quality=70" width="100%" alt="">
        </div>
      </div>

      <div class="row whats-included">
        <div class="col-md-7 col-md-offset-1">
          <h4>What's included?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, id sit repellat atque iusto iure labore ex, dolorem sequi qui porro corporis tempore repellendus delectus, vitae quod error quaerat! Cum.</p>
          <hr>
          <div class="row">
            <div class="col-md-4"><h5>Room</h5></div>
            <div class="col-md-4">
              <p>fasdfadfasdf</p>
              <p>fasdfadfasdf</p>
            </div>
            <div class="col-md-4">
              <p>fsafasdfasdfa</p>
              <p>fsafasdfasdfa</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4"><h5>Services</h5></div>
            <div class="col-md-4">
              <p>fasdfadfasdf</p>
              <p>fasdfadfasdf</p>
            </div>
            <div class="col-md-4">
              <p>fsafasdfasdfa</p>
              <p>fsafasdfasdfa</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4"><h5>Other</h5></div>
            <div class="col-md-4">
              <p>fasdfadfasdf</p>
              <p>fasdfadfasdf</p>
            </div>
            <div class="col-md-4">
              <p>fsafasdfasdfa</p>
              <p>fsafasdfasdfa</p>
            </div>
          </div>
          <hr>
        </div>
      </div>

      <div class="row room-img-2">
        <div class="col-md-7 col-md-offset-1">
          <img src="https://a2.muscache.com/ic/pictures/27390468/79829cf0_original.jpg?interpolation=lanczos-none&size=x_large&output-format=progressive-jpeg&output-quality=70" width="100%" alt="">
        </div>
      </div>
      <br>

    </div>
  </div>
  <div class="row hotel-location">
    <div id="map-canvas"></div>
  </div>
  <div class="row">
    <%= render "shared/footer" %>
  </div>
</div>
