////////////////////////////////////////////
//            COLORS
////////////////////////////////////////////
$body-bg:                           #f5f5f5;
$brand-info:                        #007a87;
$text-color:                        #565a5c;
$footer-color:                      #2b2d2e;
$listing-stars-color:               #f1c40f;
$listing-price-color:   rgba(86, 90, 92, .8);

////////////////////////////////////////////
//            TEXTS
////////////////////////////////////////////
$section-font-size:                    16px;

////////////////////////////////////////////
//            OTHERS
////////////////////////////////////////////
$border-radius-base:                    0px;
$border-radius-large:                   0px;
$border-radius-small:                   0px;