@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "rooms";
@import "hotels";
@import "static";

// Vendor
@import "clean_blog";
@import "agency";

body{
  -webkit-font-smoothing: antialiased;
}


// Static pages Navbar
ul.dropdown-menu li a{
  color: $text-color !important;
}

.open a.dropdown-toggle {
  background-color: $brand-info !important;
  color: white !important;
}

.waiting-wrapper{
  background-color: $brand-danger;
}

//Main div wrapper to compensate application navbar

.main-wrapper{
  margin-top: 50px;
}

// Container without margin and full width (ideally to place full width rows)
.container-full{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

//Rating stars across the site
.stars{
    color: $listing-stars-color;
}