@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";

body{
  -webkit-font-smoothing: antialiased;
}


// Navbar
ul.dropdown-menu li a{
  color: $text-color !important;
}

.open a.dropdown-toggle {
  background-color: $brand-info !important;
  color: white !important;
}

.waiting-wrapper{
  background-color: $brand-danger;
}