// Place all the styles related to the Hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hotel-preview{
  border: solid 1px $borders-color;
  padding: 10px;
  margin-bottom: 20px;

  h3{
    margin-top: 0;
    margin-bottom: 0;
  }

}