<html>
  <style>
  .mail{

    margin: auto;
    width: 400px;
    font-family: "Verdana";
    border: solid 1px #565a5c;
    border-radius: 2px;
    -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  }
  .header{
    color: #565a5c;
    padding: 50px;
    text-align: center;
    background-color: #f8f8f8;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
  }
  .content{
    padding: 10px;
    color: #565a5c;
  }
  .signature{
    margin-top: 50px;
    text-align: right;
  }
  </style>
  <body>
    <%= yield %>
  </body>
</html>
